<div id="img1">
   <div>
      <button id="btnLogout" type="submit" ng-click="goHome()" ng-show="loggedIn">Close</button>
  </div>
  <div ng-controller="registerLogInLogOut">
      <input type="text" ng-model="newPassword">
      <button type="submit" ng-click="changePassword()">Change Password</button>
  </div>
  <div ng-controller="addTwilioNumber">
      <input type="text" ng-model="newTwilioNumber">
      <button type="submit" ng-click="updateTwilioNumber()">Update Twilio Number</button>
  </div>
  <div ng-controller="addPhoneNumber">
      <input type="text" ng-model="newPhoneNumber">
      <button type="submit" ng-click="updatePhoneNumber()">Update Phone Number</button>
  </div>
  <div ng-controller="searchMessages">
      <input type="text" ng-model="newSearch">
      <button type="submit" ng-click="searchAllMessages(newSearch)">Search My Messages</button>
  </div>
  <div id="sendMessages">
      <input type="text" ng-model="message">
      <select ng-model="target">
          <option ng-repeat="currentUser in currentUsers">{{currentUser.email}}</option>
      </select>
      <button type="submit" ng-click="sendMessage()">Send</button>
  </div>
  <div id="privateMessages" ng-controller="registerLogInLogOut">
      <ul>
          <li ng-repeat="messageObj in privateMessages">{{messageObj.sender}} : {{messageObj.message}}</li>
      </ul>
      <h4>Twilio Messages</h4>
      <ul ng-repeat="message in twilioMessages">
        <li ng-if="message.from"> {{message.from}} : {{message.body}}</li>
      </ul>
  </div>
  <div ng-controller="searchMessages">
      <h4>Chat Search Results</h4>
      <ul>
          <li ng-repeat="chatMess in chatMessage">{{chatMess.username}} : {{chatMess.text}}</li>
      </ul>

      <h4>Private Search Results</h4>
      <ul>
          <li ng-repeat="privateMess in privMessage">{{privateMess.sender}} : {{privateMess.message}}</li>
      </ul>

      <h4>Twilio Search Results</h4>
      <ul>
        <li ng-repeat="message1 in matchingTwilioMessage"> {{message1.from}} : {{message1.body}}</li>
      </ul>
  </div>
</div>
